<html>
<head>
	<title>iOS Clock App for iPad</title>
	<meta name="description" content="A simple, minimalist clock for iOS. No ads, no bullshit, just the time." />

	<!-- Size to viewport, standard responsive practice -->
	<meta name="viewport" content="user-scalable=no, width=device-width" />

	<!-- Tells iOS that this is a progressive native web app -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />

	<!-- Disable iOS Caching -->
	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="pragma" content="no-cache" />

	<!-- Define native icons -->
	<link rel="apple-touch-startup-image" href="./startup.png" />
	<link rel="apple-touch-icon" href="./apple-touch-icon.png" />

	<link href="<$ css.main $>" type="text/css" rel="stylesheet" media="screen" />
</head>
<body ontouchmove="blockMove( event );" onunload="">

<div class="viewport">
	<div class="centered">
		<h1 id="clock"></h1>
		<div id="weather">
			<p class="date"><span data-weather="formattedDate"></span></p>
			<p class="temperature"><span data-weather="temperature"></span><sup>&deg;</sup></p>
			<p class="short-description"><span data-weather="shortForecast"></span></p>
		</div>
	</div>
</div>

<div class="loading"></div>

<script type="text/javascript" src="<$ js.main $>"></script>
</body>
</html>
