@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/css/weather-icons.min.css');

$red: #FF4136;
$green: #01FF70;
$blue: #7FDBFF;
$grey: rgba(255,255,255,0.8);

html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: black;
}

body {
	margin: 0px;
	padding: 0px;
	color: $red;
	font-size: 14px;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	width: 100vw;
	height: 100vh;
}

.loading {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background: black url('../img/loading.svg') center center no-repeat;
	background-size: 30% 30%;
	z-index: 2;
	opacity: 1;
	transition: opacity 150ms ease-in;
}

body.ready .loading {
	opacity: 0;
}

.viewport {
	position: relative;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.centered {
	flex: 0 1 auto;
}

#clock {
    font-size: 200px;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 150px;
    letter-spacing: -0.01em;
    width: 100%;
}

#weather {
	font-size: 140px;
    text-align: center;
    margin: 20px 0 0;
    padding: 0;
    font-weight: 400;
    line-height: 130px;
    letter-spacing: -0.01em;
    color: $grey;
}

p {
	margin: 0;
}

.temperature {
	color: $green;
	opacity: 0.8;
	display: inline-block;
}

.date {
	display: inline-block;
	color: $blue;
	opacity: 0.8;
	margin-right: 10px;
}

.short-description {
	display: block;
	font-size: 80px;
	margin-top: 0;
}
